
@import 'fonts';

.diagram{
  height: 130px;
  width: 130px;
  position: relative;
  background: #2d2d2d;
}

.required{
  height: 130px;
  width: 130px;
  position: absolute;
  border-radius: 50%;
  background: #4d4d4d;
  z-index: 1;
}

.collected{
  height: 130px;
  width: 130px;
  position: absolute;
  z-index: 3;
}

.expected{
  height: 130px;
  width: 130px;
  position: absolute;
  z-index: 2;
}

.month{
  position: absolute;
  z-index: 4;
  top: 23px;
  left: 23px;
  height: 84px;
  width: 84px;
  background: #2d2d2d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & span{
    font-size: 14px;
    font-family: AvenirNextCyr;
    color: #d9d9d9;
  }
}

.users-table{
  margin-top: 20px;
  font-family: AvenirNextCyr;
  width: 617px;
  border-collapse: collapse !important;
  text-align: center;

}

.basket{
  display: none;
  position: absolute;
  right: 20px;
  top:-25px;
  cursor: pointer;
}

.basket-wrapper{
  position: relative;
}


.current-user{
  position: relative;
  &:hover{
    .basket{
      display: inline-block;
    }
  }
}

.img-wrapper{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  & img{
    width: 44px;
    height: 44px;
  }

}

.tab-header {
  & th {
    background: #eaeaea;
    border: none;
    font-size: 14px;
    text-align: center;
    height: 50px;
  }
}

tr{
  height: 75px;
  border-bottom: 1px solid #e0e0e0;
}

.current-user{
  background-color: #5a5a5a;
  color: white;
  & .back{
    background-color: #ffc517;
    width: 100px;
    height: 30px;
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
  }
  & .back-fake{
    width: 100px;
    height: 35px;
    display: inline-block;
  }
}

.user{
  color: #d7d7d7;
  & .back{
    background-color: #f9f9f9;
    width: 100px;
    height: 30px;
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    color: #ffc826;
  }
  & .back-fake{
    width: 100px;
    height: 35px;
    display: inline-block;
  }
}
